//palette
$color_1: rgba( 45, 45, 47, 1 );
$color_2: rgba( 237, 27, 36, 1 );
$color_3: rgba( 223, 228, 245, 1 );
$color_4: rgba( 88, 93, 107, 1 );
$color_5: rgba( 255, 255, 255, 1 );
$color_6: rgba( 139, 139, 139, 1 );
$color_7: rgba( 30, 202, 27, 1 );
$color_8: rgba( 30, 202, 27, .1 );
$color_9: rgba( 237, 27, 36, .1 );
$color_10: rgba( 0, 0, 0, .1 );


$light-shadow: rgba( 255, 255, 255, .9 );