@import "../../scss/main";

.auth {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    text-align: center;

    &-title {
      font-size: 30px;
      margin-bottom: 20px;
    }

  }

}